**/target/*
m2/*
*.jasper
VM-Core/data/*
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$
/VM-Core/log/
/target/
/Validation-Manager-Web/nbproject/
.idea/
/fserversrc/
/Validation-Manager-Web/src/main/frontend/generated/
/Validation-Manager-Web/node_modules/
/Validation-Manager-Web/src/main/bundles/
