[submodule "WizardsForVaadin"]
	path = WizardsForVaadin
	url = git@github.com:javydreamercsw/WizardsForVaadin.git
        branch = vaadin7
[submodule "tableexport-for-vaadin"]
	path = tableexport-for-vaadin
	url = git@github.com:javydreamercsw/tableexport-for-vaadin.git
        branch = vaadin-7