<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <display-name>validation-manager</display-name>
    <!--Comment if not using H2 database-->
    <context-param>
        <param-name>db.url</param-name>
        <param-value>jdbc:h2:file:~/VM/data/validation-manager;CREATE=TRUE;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE</param-value>
    </context-param>
    <context-param>
        <param-name>db.user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>db.password</param-name>
        <param-value/>
    </context-param>
    <listener>
        <listener-class>org.h2.server.web.DbStarter</listener-class>
    </listener>
    <!--End of H2 database exclusive settings-->
    <filter>
        <description>Make GB2312\GBK or others to UTF-8 for chineese character support</description>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>net.sourceforge.javydreamercsw.validation.manager.web.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <!-- Flow's VaadinServlet is registered via @WebServlet on
         ValidationManagerUI.Servlet; the V8 servlet block and widgetset
         init-param are gone. The JAX-WS listener/servlet were removed with
         the javax JAX-WS stack (VMWebService is now jakarta.jws-annotated and
         deployed through the Metro 4 runtime). -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
